apiVersion: apps/v1
kind: Deployment
metadata:
  name: mariadb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:

      containers:
      - name: mariadb
        image: moaazfarrag/database
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: init-sql
          mountPath: /docker-entrypoint-initdb.d
        - name: mariadb-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: init-sql
        configMap:
          name: mariadb-initdb
      - name: mariadb-storage
        persistentVolumeClaim:
          claimName: mariadb-pvc

